Skip to content

Search or jump to…

Pull requests
Issues
Marketplace
Explore

@davoesh
1
0 0 tscholl2/website
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Security  Insights
website/style.css
 Travis add link to linkedin and found some logos online
48c2bbc on Jan 29, 2018
113 lines (90 sloc)  1.44 KB

body {
  padding: 0;
  margin: 0;
}

/* HEADER */

body > header {
  background-color: #eee;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

body > header > nav {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

body > header > nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  padding: 10px;
  text-decoration: none;
  color: #777;
}

body > header > nav > a:hover {
  color: #000;
}

/* /HEADER */

/* MAIN */

main {
  margin-left: 10%;
  margin-right: 10%;
}

#section-about > img {
  float: right;
  width: 200px;
  height: 200px;
  object-fit: none;
  margin-left: 20px;
}

#section-about p {
  min-width: 200px;
}

#section-contact {
  margin-bottom: 20px;
}

#section-contact > div {
  display: flex;
  align-items: center;
}

#section-contact > div > span {
  font-size: 2rem;
  width: 60px;
  text-align: center;
}

#section-contact > div > span > img {
  width: 25px;
  height: 25px;
}

#section-pictures img {
  max-width: 200px;
}

#section-pictures h3 {
  margin-top: 20px;
}

#section-garden img {
  width: 100px;
  height: 100px;
  object-fit: none;
}

#section-art img,
#section-crafts img,
#section-food img,
#section-woodworking img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

/* /MAIN */

/* FOOTER */

footer {
  margin-top: 20px;
  text-align: center;
}

/* /FOOTER */
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
